body{
    margin: 0;
    background: #121212;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Roboto', 
        'Fira Sans', 'Droid Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
        'sans-serif';
    -webkit-font-smoothing: antialiased;
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.button{
    background-color: lightblue;
    border: gray;
}

.nav{
    background-color: #121212;
    border-bottom: 1px solid #555
}

.dark-modal .modal-content {
    background-color: #232323;
    color: lightblue;
}

.dark-modal .modal-header {
    border-bottom: 1px solid #555;
}

.dark-modal .close{
    color: #555;
}

.dark-modal .modal-footer {
    border-top: 1px solid #555;
}

.dark-modal .form-control {
    background-color: #343434; 
    color: #ffff;
    border-color: #555; 

    
}

.dark-modal .form-control::placeholder{
    color: #777
}