body{
    margin: 0;
    background: #121212;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Roboto', 
        'Fira Sans', 'Droid Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
        'sans-serif';
    -webkit-font-smoothing: antialiased;
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.button{
    background-color: lightblue;
    border: gray;
}